---
import Heading from "./Heading.astro";
import Text from "./Text.astro";

const {
  url = "#",
  cardimage = "",
  cardimagealt = "",
  cardtitel = "",
  cardtime = "",
} = Astro.props;
---

<div class="bg-transparent">
  <a href={url} class="group block">
    <figure class="relative overflow-hidden rounded-[10px] md:rounded-[20px]">
      <img
        src="/img/hvid-play.svg"
        alt="Play"
        class="absolute top-2 right-2 md:top-4 md:right-4 w-10 h-10 md:w-14 md:h-14 z-20 pointer-events-none"
      />

      <img
        src={cardimage}
        alt={cardimagealt}
        class="block w-auto max-w-full h-auto object-cover rounded-[10px] md:rounded-[20px] transform transition-transform duration-500 ease-out origin-center group-hover:scale-110 will-change-transform"
      />
    </figure>

    <div>
      <Heading htmlheading="h4" size="xsmall" class="mt-[10px] md:mt-[20px]"
        >{cardtitel}
      </Heading>

      <div class="mt-1 flex items-center gap-[5px] md:gap-[10px]">
        <img src="/img/ur.svg" alt="Ur" class="w-6 h-6" />
        <Text teksttype="brødtekst" stylingclasses="m-0 leading-none"
          >{cardtime}</Text
        >
      </div>
    </div>
  </a>
</div>
