---
import Heading from "./Heading.astro";
import Text from "./Text.astro";
const {
  hero = "/img/ritahero.png",
  avatar = "/img/rita.png",
  titel = "Rita og Krokodille: Skovturen",
  alder = "Tilladt for alle",
  tid = "5 min",
  beskrivelse = `Vennerne skal ud og samle kastanjer i skoven. Rita formaner Krokodille at blive på stien, så han ikke farer vild. Men da hun ser et helt tæppe af glitrende kastanjer glemmer hun alt, hvad hun har sagt. I jagten på de flotte kastanjer glemmer hun alt om stien og farer vild. Krokodille hjælper hende at finde tilbage.`,
  instruktør = "Instruktør: Siri Melchior (Danmark, 2013)",
  emner = "Emner: Fantasivenner, Venskab, Skovture, Fare vild",
} = Astro.props;
---

<div class="md:mx-[100px]">
  <div class="relative rounded-xl overflow-hidden">
    <img src={hero} alt={titel} class="w-full object-cover" />

    <img
      src="/img/hvid-play.svg"
      alt="Play"
      class="absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 w-20 h-20 md:w-25 md:h-25 z-20"
    />

    <div class="absolute left-6 bottom-6 flex items-end gap-4">
      <img
        src={avatar}
        alt="avatar"
        class="w-25 h-25 md:w-60 md:h-60 object-cover"
      />

      <div class="text-white">
        <Heading
          htmlheading="h1"
          size="large"
          stylingclasses="text-orange-400 drop-shadow-lg leading-tight"
        >
          {titel}
        </Heading>

        <div class="flex items-center gap-4 mt-2 text-white text-sm opacity-95">
          <Heading
            htmlheading="h3"
            size="xsmall"
            stylingclasses="flex items-center gap-2 px-3 py-1 rounded-full"
          >
            {alder}
          </Heading>
          <Heading
            htmlheading="h3"
            size="xsmall"
            stylingclasses="flex items-center gap-2 px-3 py-1 rounded-full"
          >
            <img
              src="/img/ur-hvid.svg"
              alt="Ur"
              class="w-4 h-4 md:w-5 md:h-5 mr-2"
            />
            {tid}
          </Heading>
        </div>
      </div>
    </div>
  </div>

  <div
    class="bg-pink-300 rounded-lg p-6 text-black grid grid-cols-1 md:grid-cols-12 gap-4 mt-5"
  >
    <div class="md:col-span-6">
      <Heading
        htmlheading="h3"
        size="small"
        stylingclasses="font-nunito font-bold text-lg mb-2">{titel}</Heading
      >
      <Text teksttype="brødtekst" stylingclasses="text-sm leading-relaxed"
        >{beskrivelse}</Text
      >
    </div>

    <div class="text-sm md:col-span-6">
      <Text teksttype="fedbrødtekst">{instruktør}</Text>
      <Text teksttype="brødtekst" stylingclasses="mt-2">{emner}</Text>
    </div>
  </div>
</div>
